importFrom(graphics, plot,axis,title,points,segments,polygon,lines)
importFrom(forecast,accuracy,forecast,auto.arima)
importFrom(grDevices,pdf,dev.off,rgb)
importFrom(stats,qnorm,var,pacf,optimize)
importFrom(utils,data)
importFrom(methods,is)

import(parallel)
import(locits)
import(wavethresh)
import(lpacf)

#exportPattern("^[[:alpha:]]+")
export(analyze.abmld2, analyze.windanomaly)
export(dforecast.lpacf, forecast.lpacf, forecast.panel,forecast.test,fp.forecast, which.wavelet.best)
export(plot.forecast.lpacf,print.forecast.lpacf, summary.forecast.lpacf)

S3method(plot,forecast.lpacf)
S3method(print,forecast.lpacf)
S3method(summary,forecast.lpacf)

